@charset "utf-8";

$cool-grey: #8B94A3;
$aquamarine: #8CFBDE;
$spring-green: #0FFF95;
$emerald: #06BA63;
$pakistan-green: #103900;

$primary: $spring-green;


.has-bg-img {
    background: url('../assets/images/calligraphy.png')center center;
    background-size:cover;
}

.has-background-dark-green {
    background-color: $pakistan-green;
}

#fixed {
    position: fixed;
    z-index: 1;
    display: flex;
    top: 0;
    right: 0;
    .field {
        margin-bottom:0;
        padding-left: 5px;
        padding-right: 5px;
    }
}


@import "../assets/node_modules/bulma/bulma.sass";
@import "../assets/node_modules/bulma-pricingtable/dist/css/bulma-pricingtable.sass";
@import "../assets/node_modules/bulma-switch/dist/css/bulma-switch.min.css";


body {
    background-color: black;

}

.box {
    background-color: red;
}


body.dark {
    background-color: $black;
    color: $white;
    
    .box{
        background-color: $dark;
        color: $white;
    }
}
